<h3 class="text-2xl">Add New Meme</h3>
<div class="flex flex-column align-items-center">
  <span class="p-float-label mb-3">
    <input
      id="topTitle"
      name="topTitle"
      type="text"
      pInputText
      [(ngModel)]="topTitle"
    />
    <label for="topTitle">Top Title</label>
  </span>
  <span class="p-float-label mb-3">
    <input
      id="bottomTitle"
      name="bottomTitle"
      type="text"
      pInputText
      [(ngModel)]="bottomTitle"
    />
    <label for="bottomTitle">Bottom Title</label>
  </span>
  <span class="p-float-label mb-3">
    <input id="text" name="text" type="text" pInputText [(ngModel)]="text" />
    <label for="text">Bottom Text</label>
  </span>
  <h4 class="text-center text-xl mt-0 mb-2">Select Image</h4>
  <p-fileUpload
    [customUpload]="true"
    (uploadHandler)="myUploader($event)"
    accept="image/*"
    [maxFileSize]="1000000"
  >
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
      <div *ngIf="file">{{ file.name }} - {{ file.size }} bytes</div>
    </ng-template>
  </p-fileUpload>
  <div class="w-min mx-auto" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <button
    class="mt-3"
    pButton
    type="button"
    label="Add New Meme"
    (click)="addNewMeme()"
  ></button>
</div>
