<app-meme
  [meme]="randomMeme"
  *ngIf="randomMeme$ | async as randomMeme; else error"
></app-meme>
<button
  class="block mx-auto"
  pButton
  type="button"
  label="Get Random Meme"
  (click)="getRandomMeme()"
></button>
<ng-template #error>
  <div *ngIf="error$ | async; else loading">
    <h4>Something goes Wrong :(</h4>
    <p>{{ errorMessage }}</p>
  </div>
  <ng-template #loading>
    <div class="w-min mx-auto"><p-progressSpinner></p-progressSpinner></div>
  </ng-template>
</ng-template>
